label {
    color: #001;
}

._dash-loading {
    width: 100%;
    animation: spin 0.6s infinite linear;
    width: 120px;
    height: 120px;
    font-size: 0;
    margin: 20px;
    border-radius: 50%;
    border: 3px solid #fafafa;
    border-left: 3px solid #56CC9D;
}

@keyframes spin {
    from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
}

/* CSS IDs */
#column-with-budget-buttons > button {
    margin-left: 0.4rem;
}
#navbar {
    border-radius: 4px;
    z-index: 100;
    width: 100%;
    margin-bottom: 2rem;
}
#transaction-table {
    font-size: 0.9rem;
}
#login-form-div, #credentials-alert {
    width: 95%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    animation: fadeIn 0.7s forwards 0.1s;
    opacity: 0;
}

@media all and (min-width: 700px) {
    #login-form-div {
        width: 50%;
    }

    #credentials-alert {
        width: 50%;
    }
}

#top-nav {
    opacity: 0;
    animation: fadeIn 0.4s forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(0, 20px);
    }
      to {
        opacity: 1;
        transform: translate(0, 0);
      }
}

#login-form-div > h2 {
    text-align: center;
}
#username-input {
    width: 100%;
}
#password-input {
    width: 100%;
}
#username-greeting {
    display: inline-block;
    margin-right: 1rem;
}

/* CSS Classes */
.floatRight {
    position: relative;
    float: right;
}
.hiddenDiv {
    display: none;
}

/* Below are Dash Component Class Names */
.DateRangePickerInput {
    border: 2px solid #588F6A;
    transition: 0.2s;
}
.DateRangePickerInput:hover {
    border: 2px solid #56CC9D;
}
.DateInput_input {
    cursor: pointer;
    transition: 0.2s;
}
.DateInput_input:hover {
    color: #56CC9D;
}

.collapse-style {
    border: 1px solid #223;
    position: absolute;
    z-index: 80;
    background-color: #fafafa;
    height: 200px;
    width: 100%;
    border-radius: 4px;
}

/* row 1 */
#budget-bar-chart {
    height: 30vh;
    max-height: 300px;
    margin-bottom: 1rem;
}

/* row 2 */
#insights-bar-chart {
    height: 40vh;
    max-height: 400px;
    margin-bottom: 1rem;
}
#pie-chart {
    height: 40vh;
    max-height: 400px;
}

/* row 3 */
#transaction-table {
    /* height: 60vh;
    max-height: 300px; */
}
#transactions-line-chart {
    height: 60vh;
    max-height: 300px;
}
