@media all and (max-width: 400px) {
    body {
        /*background-color: pink;*/
    }

    #login-form-div, #credentials-alert {
        width: 100%;
    }
}
@media all and (min-width: 401px) and (max-width: 600px) {
    #login-form-div, #credentials-alert {
        width: 400px;
        background-color: blue;
    }
}

body {
    margin: 2rem;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;

    /*text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;*/
}

/*h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.2;
}
h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
}
h3 {
    font-size: 1.75rem;
    font-weight: 600;
}*/

label {
    color: #001;
}

._dash-loading {
    position: absolute;
    width: 240px;
    height: 240px;
    left: calc(50% - 120px);
    top: calc(50% - 120px);
    animation: spin 0.5s infinite linear;
    font-size: 0;
    border-radius: 50%;
    border: 10px solid #fafafa;
    border-left: 10px solid #56CC9D;
    border-left: 10px solid #56CC9D;
}

@keyframes spin {
    from {transform: rotate(0);}
      to {transform: rotate(360deg);}
}

/* CSS IDs */
/*#column-with-budget-buttons > button {
    margin-left: 0.4rem;
}*/
#navbar {
    border-radius: 4px;
    z-index: 100;
    width: 100%;
    margin-bottom: 2rem;
}
#transaction-table {
    font-size: 0.9rem;
}
#login-form-div > h2 {
    text-align: center;
}
#login-form-div, #credentials-alert {
    width: 100%;
    max-width: 450px;
    /*width: 400px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    animation: fadeIn 0.7s forwards 0.1s;
    opacity: 0;
    font-size: 1rem;
}

#top-nav {
    opacity: 0;
    animation: fadeIn 0.4s forwards;
}

.login-title {
    font-size: 3rem;
}

#username-input {
    width: 100%;
}
#password-input {
    width: 100%;
}
#username-greeting {
    display: inline-block;
    margin-right: 1rem;
}

/* CSS Classes */
.floatRight {
    position: relative;
    float: right;
}
.hiddenDiv {
    display: none;
}

/* Below are Dash Component Class Names */
.DateRangePickerInput {
    border: 2px solid #588F6A;
    transition: 0.2s;
}
.DateRangePickerInput:hover {
    border: 2px solid #56CC9D;
}
.DateInput_input {
    cursor: pointer;
    transition: 0.2s;
}
.DateInput_input:hover {
    color: #56CC9D;
}

.collapse-style {
    border: 1px solid #223;
    position: absolute;
    z-index: 80;
    background-color: #fafafa;
    height: 200px;
    width: 100%;
    border-radius: 4px;
}

/* row 1 */
#budget-bar-chart {
    height: 30vh;
    max-height: 300px;
    margin-bottom: 1rem;
}

/* row 2 */
#insights-bar-chart {
    height: 40vh;
    max-height: 400px;
    margin-bottom: 1rem;
}
#pie-chart {
    height: 40vh;
    max-height: 400px;
}

/*@media all and (max-height: 768px) {
    .table-div-container {
        height: 20vh;
    }
}
@media all and (max-height: 769px) {
    .table-div-container {
        height: 20vh;
    }
}*/

#transactions-line-chart {
    height: 60vh;
    max-height: 300px;
}

.margin-right {
    margin-right: 4px;
}

.a-card {
    box-shadow: 10px 10px 8px #ccc;
    margin-bottom: 5vh;
    opacity: 0;
    animation: fadeIn 0.6s 0.1s forwards;
}

#open-add-budget-modal {
    width: 100%;
}
#open-remove-budget-modal {
    width: 100%;
}

.title_style = {

}

.subtitle_style {
    color: #aab;
    font-weight: 10;
    letter-spacing": 0.01rem;
    font-size": 1.5rem;
}

.floatRightStyle {
    float: right;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(0, 20px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}
